.fade-in {
  animation: fadeIn ease 500ms;
}

.slide-up {
  animation: slideUp ease 500ms;
}

.fade-in-delay {
  animation: fadeIn ease 500ms;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}

.fade-in-delay-answer {
  animation: fadeIn ease 500ms;
  animation-delay: 1250ms;
  animation-fill-mode: backwards;
}

@keyframes fadeIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
